# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# pyenv
.python-version

# Environment variables
.env
.env.*
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# C extensions
*.so

# IDE-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# PyCharm specific files
*.iml
*.iws
*.ipr
